.viewer {
  position: fixed; display: block; overflow: hidden;
  width: 0; height: 0;
  background-color: #333;
  border: none;
  box-sizing: border-box;
}

body.viewer-isopen {
  overflow: hidden;
}

.viewer-close:before {
  display: block; position: fixed;
  top: 4px; /*right: 16px;*/ right: 4px; line-height: 0.5;
  color: #f33;
  font-size: 5rem; font-weight: 400;
  content: "×";
  opacity: 0.75;
  cursor: pointer;
  transition: 0.25s;
}

.viewer-close:hover:before, .viewer-close.on:before {
  opacity: 1;
}

.viewer-content {
  position: absolute; overflow: hidden;
  left:0; top: 0; right: 0; bottom: 0;
}


